.header {
  height: 60px;
  width: 100vw;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include respond(tab-land) {
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
  }
  .safa {
    position: absolute;
    left: 2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    color: rgb(2, 41, 59);
    transition: all 0.3s ease-in;

    &:hover {
      color: rgb(2, 110, 160);
    }
  }

  ul {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;

    li {
      margin: 0 1rem;
      font-size: 1.2rem;
      padding: .5rem .8rem;
      transition: all .2s ease-in;
      &:hover {
        color: white;
        background: rgb(3, 127, 184);
      }
    }

    @include respond(phone) {
      margin-right: 1rem;
      
      li {
      margin: 0 0.4rem;
      font-size: 1.2rem;
      padding: .2rem .3rem;
      transition: all .2s ease-in;
      &:hover {
        color: white;
        background: rgb(3, 127, 184);
      }
    }
    }
  }
}