.header {
  height: 60px;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .safa {
    position: absolute;
    left: 2rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    color: rgb(2, 41, 59);

    &:hover {
      color: rgb(3, 127, 184);
    }
  }
  ul {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    li {
      margin: 0 1rem;
      font-size: 1.2rem;
      padding: .5rem .8rem;
      transition: all .2s ease-in;
      &:hover {
        color: white;
        background: rgb(3, 127, 184);
      }
    }
  }

//   .safa {
//     padding: 0.5rem;
//     margin: 0 2rem;
//     letter-spacing: .2rem;
//     font-size: 2rem;
//     font-weight: 200;
//     background: transparent;
//     color: rgb(3, 3, 29);
//     &:hover {
//       color: rgb(20, 187, 76);
//     }
//   }
// //  class="bg-transparent text-blue-900 font-normal hover:text-red-400 py-2 px-4"
//   div {
//     padding: 0.5rem;
//     margin: 0 0.5rem;
//     margin-left: auto;
//     font-size: 1.5rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     a {
//       margin-right: 1rem;
//       text-decoration: none;
//     }
//   }
}