.card {
  background: #ecf4f8c4;
  display: inline-block;
  min-width: 220px;
  float: left;
  width: 31%;
  height: 16rem;
  margin: 0.5rem;
  box-shadow: 0 7px 8px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}