.card {
  background: #ecf4f8c4;
  display: inline-block;
  min-width: 220px;
  width: 30%;
  height: 16rem;
  margin: 0.5rem 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 7px 8px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @include respond(tab-land) {
    width: 42%;
    text-align: center;
    margin: 1rem;
    margin-right: 2rem;
  }
  @include respond(tab-port) {
    width: 45%;
    margin: 1rem;
    margin-right: 2rem;
  }
  @include respond(phone) {
    display: block;
    width: 100%;
    margin: 1rem auto;
  }
}